body{
    margin: 0;
    padding: 0;
}
.header-content {
    color: white;
}
.header {
    margin: 0;
    padding: 0;
    background-color: red;
}
h1,p {
    margin: 0;
    padding: 0;
}
.footer-content {
    width:100%;
    color: white;
}
.footer {
    clear:both;
    width:100%;
    background-color: blue ;
}
.sidebar {
    float:right;
    width:20%;
}
.top-right-sidebar{
    background-color: yellow;
    margin-bottom:30px;
    padding-bottom: 30px;
}
.bottom-right-sidebar{
    height:50px;
    background-color: yellow;
}
.main-content {
    float:left;
    width:80%;
}

.top-content {
    margin: 0;
    padding: 0;
}