body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

table td.img-wrapper {
    width: 40%;
    height: 150px;
    text-align: center;
    border-left: 1px solid gray;
}

img {
    height: 90%;
    object-fit: cover;
}

/*  */

.search-box-wrapper {
    padding: 15px 0 0 0px;
    height: 30px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box-wrapper form {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box-wrapper .search-input, .search-btn {
    margin-right: 10px;
}

.product-details table.product-details-table {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid gray;
    vertical-align: top;
}

.product-details table.product-details-table th {
    text-align: right;
    width: 25%;
    padding-right: 30px;
}

.deliver-and-price table.deliver-and-price-table {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-collapse: collapse;
}

.deliver-and-price table.deliver-and-price-table td,
.deliver-and-price table.deliver-and-price-table th {
    padding: 5px;
    border: 1px solid gray;
    text-align: center;
}

.deliver-and-price table.deliver-and-price-table td.add-to-cart-wrapper {
    padding: 10px 0 0 0;
    border: none;
    text-align: right;
}

.cart-info table {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border-collapse: collapse;
}

.cart-info table td,
.cart-info table th {
    padding: 5px;
    border: 1px solid gray;
}

.cart-info table th.software-title {
    width: 70%;
    border: 1px solid gray;
}

.cart-info table td.img-wrapper {
    width: 25%;
    height: 120px;
}



.cart-info table td.btn-wrapper {
    padding: 10px 0 0 0;
    border: none;
    width: 400px;
    column-span: 4;
    
}