body{
    margin-top: 20px;
    text-align: left;
}
.container, .container-md, .container-sm {
    max-width: 700px;
}
input, radio{
    background-color: #4572C3;
}
input[type="text"]{ 
    color: white;
    width: 50%;
}
label{ 
    margin-left:10px;
    margin-right:20px;
}
::placeholder { 
        color: white;
}
input[type=submit].btn-block {
    background-color: #4572C3;
    width: 10%;
    margin-left: 270px;
}